* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle farthest-corner at 17.6% 50.7%,
    rgba(25, 0, 184, 1) 0%,
    rgba(0, 0, 0, 1) 90%
  );
}

.box {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  transition: 0.4s ease-in;
}

.display {
  width: 500px;
  height: 150px;
  background-color: #000000;
  border: 3px solid white;
  color: white;
  font-size: 25px;
}

.display > p {
  margin-left: 10px;
  margin-bottom: 20px;
}

.numberBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  width: 500px;
  height: 300px;
  color: white;
  margin-top: 100px;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 43px;
  border: 2px solid white;
  background-color: #000000;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s ease-in;
}

.clickHere {
  display: none;
  position: absolute;
  color: white;
  top: 30px;
  font-size: 18px;
  transition: all 0.3s ease-out;
}

.options {
  display: flex;
  display: none;
  position: absolute;
  top: 65px;
  gap: 50px;
}

button {
  padding: 8px 35px 8px 35px;
  border: 2.5px solid rgb(255, 255, 255);
  background-color: #5c5c5c;
  color: rgb(235, 232, 232);
  font-weight: bolder;
  transition: all 0.2s linear;
}

button:hover {
  background-color: grey;
  border-color: grey;
}

button:active {
  transform: scale(0.9);
}

.number:active {
  transform: scale(0.6);
}
