* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: radial-gradient(
    circle farthest-corner at 17.6% 50.7%,
    rgba(25, 0, 184, 1) 0%,
    rgba(0, 0, 0, 1) 90%
  );
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease-in;
}

.box >p{
  display: none;
  font-size: 30px;
}

.yesNoButtons{
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-top: 30px;
}

.yesNoButtons >  button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  padding: 18px 55px;
  font-size: 18px;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  transition: all 0.2s ease-in;
}

.yesNoButtons > button:hover{
  background-color: #a6a6a6;
  color: #000;
  border: 5px solid #a6a6a6;
}

.calc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 500px;
  height: 130px;
  background-color: #4f4f4f;
  border: 5px solid white;
}

.display > span {
  font-size: 20px;
  margin-left: 20px;
}

.numbers{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  width: 600px;
  gap: 20px;
  padding : 20px 0px 20px 55px ;
}

.numbers > button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 20px;
  padding: 20px;
  font-size: 25px;
  background-color: #000000;
  color: #fff;
  border: 2px solid #dfdfdf;
  transition: all 0.1s ease-in ;
}

#clearBtn {
  width: auto;
  grid-column: span 2 ;
}

button:hover{
  background-color: #545454;
}

button:active{
  transform: scale(0.8);
}