* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: radial-gradient(
    circle farthest-corner at 17.6% 50.7%,
    rgba(25, 0, 184, 1) 0%,
    rgba(0, 0, 0, 1) 90%
  );
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease-in;
}

.box >p{
  font-size: 30px;
}

.yesNoButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-top: 30px;
}

.yesNoButtons >  button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  padding: 18px 55px;
  font-size: 18px;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  transition: all 0.2s ease-in;
}

button:hover{
  background-color: #a6a6a6;
  color: #000;
  border: 5px solid #a6a6a6;
}
